@import "~@mantine/core/styles.css";
.basic-form {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
}

.basic-form input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 2%;
  border-bottom-width: 5px;
  border-bottom-color: var(--color-primary);
}
.basic-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-primary);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.basic-form button:hover {
  background-color: rgb(37, 23, 132);
}
