.product-card {
  display: flex;
  overflow: hidden;
  height: fit-content;
  min-width: 100px;
  min-height: 100px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  background: "var(--mantine-color-default-border)";
}

.product-image {
  size: auto;
  object-fit: scale-down;
}

.product-details {
  text-align: left;
}

.product-name {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.product-description {
  margin: 5px 0 0 0;
  color: #666;
  font-size: 20px;
  text-align: left;
}
