.search-bar {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  margin-bottom: 20px;
  font-size: 1.2em;
  border-radius: 0%;
  border-width: 0.001px;
  border-bottom-width: 5px;
  border-bottom-color: var(--color-primary);
  border-radius: 5px;
}

.price-input {
  padding: 10px;
  margin: 0 10px 20px 0;
  width: 120px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}
