/*colors*/
@import "~@mantine/core/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");
:root {
  --color-primary: #a55aff;
  --color-gradient: #895aff;
}
@font-face {
  font-family: "EffiFont";
  src: url("./resourses/Matemasie-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.username-placeholder-h1 {
  font-family: "EffiFont", sans-serif;
  text-shadow: 4px 4px var(--color-primary);
}

input {
  border-radius: 2%;
  border-bottom-width: 5px;
  border-bottom-color: var(--color-primary);
}

.App .Shopping {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
